@font-face {
    font-family: "quantico";
    src: url(/style/font/quantico/Quantico-Regular.otf) format("truetype");
}

@font-face {
    font-family: "prompt";
    src: url(/style/font/prompt/Prompt-Italic.ttf) format("truetype");
}