@charset "UTF-8";
@font-face {
  font-family: "quantico";
  src: url(/style/font/quantico/Quantico-Regular.otf) format("truetype");
}
@font-face {
  font-family: "prompt";
  src: url(/style/font/prompt/Prompt-Italic.ttf) format("truetype");
}
.overflow-hidden {
  overflow: hidden;
}

.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.toggle-element {
  display: none;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
button {
  color: white;
  font-size: 1rem;
  font-family: "quantico", sans-serif;
  width: auto;
  height: 100%;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  cursor: pointer;
}

.btnOne {
  background: -webkit-gradient(linear, left top, right top, from(#740CDC), to(#56ADD5));
  background: linear-gradient(to right, #740CDC, #56ADD5);
  border: none;
  border-radius: 15px;
}

.btnTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #0F162A;
  color: white;
  font-weight: bold;
  border-radius: 15px;
  position: relative;
  width: 70px;
  height: 40px;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  outline: none;
  border: 1px solid transparent;
}
.btnTwo::before {
  content: "";
  display: block;
  background: -webkit-gradient(linear, right bottom, left top, from(#740CDC), to(#56ADD5));
  background: linear-gradient(to top left, #740CDC, #56ADD5);
  position: absolute;
  z-index: -1;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  padding: 5px;
  border-radius: 20px;
  margin: -1px;
}

.btnThree {
  background: none;
  font-size: 1.25rem;
  border: none;
  color: #7D8296;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: auto;
  padding: 1rem 2rem 0rem 2rem;
}
nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  list-style: none;
}
nav .menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 3rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}
nav .menu a span {
  font-size: 0.8rem;
  text-align: right;
}

.menu_toggle {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.menu_toggle .barOne {
  margin: 0.1rem;
  width: 3rem;
  height: 0.4rem;
  background-color: white;
  border-radius: 10px;
}
.menu_toggle .barTwo {
  margin: 0.1rem;
  width: 2.6rem;
  height: 0.4rem;
  background-color: white;
  border-radius: 10px;
}
.menu_toggle .barThree {
  margin: 0.1rem;
  width: 2.2rem;
  height: 0.4rem;
  background-color: white;
  border-radius: 10px;
}
.menu_toggle:hover .barOne {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
}
.menu_toggle:hover .barThree {
  -webkit-transform: translateY(0.3rem);
          transform: translateY(0.3rem);
}
.menu_toggle .barOne, .menu_toggle .barThree {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.effectOnOver {
  opacity: 0.5;
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transition: opacity 0.5s ease, transform 0.5s ease, -webkit-transform 0.5s ease;
}

@media screen and (max-width: 1300px) {
  .menu_toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .menu {
    display: none;
  }
}
.nav_mobile {
  width: 100%;
  height: 100%;
  background: #0F162A;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: fixed;
  z-index: 1;
}
.nav_mobile_animation {
  font-size: 90px;
  color: white;
  font-weight: bold;
  width: 100%;
  -webkit-animation: scroll 7s linear infinite;
          animation: scroll 7s linear infinite;
  white-space: nowrap;
  margin: 0rem -5rem 0rem -5rem;
}
.nav_mobile_animation span {
  color: #0F162A;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  letter-spacing: 10px;
}
.nav_mobile p {
  font-size: 2.5rem;
  color: white;
  font-weight: bold;
  margin: 2rem;
  padding: 0rem 1rem 0rem 1rem;
}
.nav_mobile p:hover {
  background: white;
  color: #0F162A;
}

:root {
  font-size: 24px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #0F162A;
  font-family: "quantico", sans-serif;
  line-height: 1;
  margin: auto;
  font-size: 1rem;
}

h1, h2, h3 {
  color: white;
}

h4 {
  color: #589CD5;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

.logo {
  max-width: 75px;
  height: auto;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  line-height: 2.5rem;
  padding: 2rem 2rem 2rem 2rem;
  position: relative;
  margin-bottom: 2rem;
}
.intro_p {
  color: #7D8296;
  font-size: 1.5rem;
}
.intro_background {
  position: absolute;
  z-index: -1;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  font-size: 180px;
  color: white;
  opacity: 0.02;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 120px;
}
.intro h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
}
.intro button {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.aboutme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
  padding: 0rem 2rem 0rem 2rem;
}
.aboutme_portrait {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  max-width: 100%;
  height: auto;
  margin-bottom: 2rem;
}
.aboutme_portrait_img {
  max-width: 500px;
  height: auto;
  position: relative;
  z-index: 0;
  margin-right: 2rem;
}
.aboutme_portrait_frame {
  position: absolute;
  z-index: -1;
  width: 450px;
  height: 500px;
  border: 10px solid #4A3CC5;
  border-radius: 10px;
  top: 25px;
  right: 0;
  bottom: 0;
  left: 75px;
}
.aboutme_description {
  margin-left: 3rem;
}
.aboutme_description_intro h2 {
  margin: 0;
}
.aboutme_description_intro p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #7D8296;
}
.aboutme_description_intro p span {
  padding-top: 1rem;
}
.aboutme_description_areaBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aboutme_description_areaBtn button {
  margin-right: 1rem;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0rem 2rem 0rem 2rem;
}
.portfolio_menu {
  margin-bottom: 0;
}
.portfolio_project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 3rem;
}
.portfolio_project_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-left: 2rem;
}
.portfolio_project_img img {
  position: relative;
  max-width: 600px;
  height: auto;
}
.portfolio_project_img div {
  position: absolute;
  z-index: -1;
  width: 500px;
  height: 500px;
  border: 10px solid #4A3CC5;
  border-radius: 10px;
  top: 20px;
  right: 0;
  bottom: 0;
  left: -40px;
}
.portfolio_project_description {
  width: 50%;
  color: white;
}
.portfolio_project_description_p {
  color: #7D8296;
}
.portfolio_project_description_number {
  color: #589CD5;
}
.portfolio_project_description_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.portfolio_project_description_link_arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.portfolio_project_description_link_arrow_stick {
  border: 2px solid white;
  border-radius: 10px;
  width: 40px;
  height: 0;
}
.portfolio_project_description_link_arrow_end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
  height: 0;
  width: 0;
  border-top: 10px solid transparent; /* Hauteur de la flèche */
  border-bottom: 10px solid transparent;
  border-left: 10px solid white; /* Couleur de la flèche */
}
.portfolio_project_img {
  height: 100%;
}
.portfolio_project_img img {
  width: auto;
  max-height: 500px;
}
.portfolio button {
  margin-bottom: 2rem;
}

.formations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
  padding: 0rem 2rem 0rem 2rem;
}
.formations h2 {
  margin-bottom: 3rem;
}
.formations_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
}
.formations_list_frame {
  border-radius: 15px;
}
.formations_list_frame_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.formations_list_frame_header img {
  width: auto;
  max-height: 80px;
  margin-right: 1rem;
}
.formations_list_frame_header_title {
  font-weight: bold;
}
.technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0rem 2rem 0rem 2rem;
}
.technologies_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}
.technologies_div_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0rem 5rem 2rem 5rem;
}
.technologies_div_list img {
  max-width: 200px;
  max-height: auto;
}
.technologies_div_list p {
  color: #7D8296;
  font-size: 1.5rem;
  font-weight: bold;
}

.xp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0rem 2rem 0rem 2rem;
}
.xp h2 {
  margin-bottom: 3rem;
}
.xp_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}
.xp_list_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(#56ADD5), to(#740CDC));
  background: linear-gradient(to right, #56ADD5, #740CDC);
  border-radius: 15px;
  padding: 0rem 1rem 0rem 1rem;
  margin-bottom: 1rem;
  gap: 60px;
  width: 75%;
  height: auto;
}
.xp_list_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #4A3CC5;
  border-radius: 15px;
  padding: 1rem;
  margin-bottom: 2rem;
  width: 75%;
  height: auto;
}
.xp_list_description_text {
  margin-bottom: 1rem;
}
.xp_list_description_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 70px;
}
.xp_list_description_contact_adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: #B4B7C9;
}
.xp_list_description_contact_email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.xp_list_description_contact_email a {
  text-decoration: none;
  color: #B4B7C9;
}
.xp_list_description_contact img {
  max-width: 20px;
  height: 100%;
}
.xp_list_description_skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.xp_list_description_skills p {
  background: #2C3599;
  padding: 0.5rem;
  border-radius: 15px;
  margin: 0rem 1rem 0.5rem 0rem;
  text-align: center;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 200px 200px 0px 0px;
  margin-top: 2rem;
  background: -webkit-gradient(linear, left top, right bottom, from(#740CDC), to(#56ADD5));
  background: linear-gradient(to bottom right, #740CDC, #56ADD5);
  padding: 0rem 2rem 1rem 2rem;
}
.footer h2 {
  margin-bottom: 2rem;
}
.footer_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}
.footer_contact_informations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: 5%;
}
.footer_contact_informations h3 {
  margin: 0rem 0rem 1rem 0rem;
}
.footer_contact_informations_description {
  color: #A5A6FF;
  max-width: 700px;
  margin: 0rem 0rem 1rem 0rem;
}
.footer_contact_informations_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin-bottom: 1rem;
}
.footer_contact_informations_data img {
  max-width: 50px;
  height: auto;
  margin-right: 1rem;
}
.footer_contact_informations_data a {
  color: white;
  text-decoration: none;
}
.footer_contact_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  width: 60%;
  border-radius: 15px;
  background: -webkit-gradient(linear, right bottom, left top, from(#740CDC), to(#56ADD5));
  background: linear-gradient(to top left, #740CDC, #56ADD5);
}
.footer_contact_form input {
  background: #0F162A;
  font-size: 15px;
  border: none;
  margin-bottom: 0.5rem;
  border-radius: 15px;
  padding: 0.5rem;
  color: white;
}
.footer_contact_form input ::-webkit-input-placeholder {
  font-size: 1rem;
  font-weight: bold;
}
.footer_contact_form input ::-moz-placeholder {
  font-size: 1rem;
  font-weight: bold;
}
.footer_contact_form input :-ms-input-placeholder {
  font-size: 1rem;
  font-weight: bold;
}
.footer_contact_form input ::-ms-input-placeholder {
  font-size: 1rem;
  font-weight: bold;
}
.footer_contact_form input ::placeholder {
  font-size: 1rem;
  font-weight: bold;
}
.footer_contact_form textarea {
  background: #0F162A;
  border: none;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 15px;
  color: white;
  resize: none;
}
.footer_contact_form textarea ::-webkit-input-placeholder {
  font-size: 1rem;
  font-weight: bold;
}
.footer_contact_form textarea ::-moz-placeholder {
  font-size: 1rem;
  font-weight: bold;
}
.footer_contact_form textarea :-ms-input-placeholder {
  font-size: 1rem;
  font-weight: bold;
}
.footer_contact_form textarea ::-ms-input-placeholder {
  font-size: 1rem;
  font-weight: bold;
}
.footer_contact_form textarea ::placeholder {
  font-size: 1rem;
  font-weight: bold;
}
.footer_contact_form_sender {
  color: white;
  font-weight: bold;
  width: 150px;
}
.footer_line {
  border: 1px solid white;
  width: 100%;
  height: auto;
  margin: 1rem 0rem 1rem 0rem;
}
.footer_mentions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 20px;
}
.footer_mentions_socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer_mentions_socialMedia img {
  width: 60px;
  height: auto;
  margin: 0rem 0.5rem 0rem 0.5rem;
}/*# sourceMappingURL=main.css.map */