@font-face {
  font-family: "Roboto Mono";
  src: url(/style/font/robotoMono/RobotoMono-VariableFont_wght.ttf) format("truetype");
}
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: auto;
  padding: 1.5rem;
  background-color: #10e956;
}
nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  list-style: none;
}
nav .menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 3rem;
  font-weight: bold;
  text-decoration: none;
  color: #1e2128;
  opacity: 0.5;
}
nav .menu a span {
  font-size: 0.8rem;
  text-align: right;
}

.menu_toggle {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.menu_toggle .barOne {
  margin: 0.1rem;
  width: 3rem;
  height: 0.4rem;
  background-color: #1e2128;
  border-radius: 10px;
}
.menu_toggle .barTwo {
  margin: 0.1rem;
  width: 2.6rem;
  height: 0.4rem;
  background-color: #1e2128;
  border-radius: 10px;
}
.menu_toggle .barThree {
  margin: 0.1rem;
  width: 2.2rem;
  height: 0.4rem;
  background-color: #1e2128;
  border-radius: 10px;
}
.menu_toggle:hover .barOne {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
}
.menu_toggle:hover .barThree {
  -webkit-transform: translateY(0.3rem);
          transform: translateY(0.3rem);
}
.menu_toggle .barOne, .menu_toggle .barThree {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.effectOnOver {
  opacity: 0.5;
}

@media screen and (max-width: 767px) {
  .menu_toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .menu {
    display: none;
  }
}
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1e2128;
  font-family: "Roboto Mono", sans-serif;
  font-size: 18px;
  line-height: 1;
}

h2, p {
  color: white;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
}
.skills_grid {
  display: wrap;
}/*# sourceMappingURL=main.css.map */