:root {
    font-size: 24px;
}

body{
    margin: 0;
    padding : 0rem 4rem 0rem 5rem;
    font-size: $primaryFontSize;
}

body{
    display: flex;
    flex-direction: column;
    background-color: $fifthColor;
    font-family: "quantico", sans-serif;
    line-height: 1;
}

h1, h2, h3{
    color: $primaryColor;
}

h1{
    font-size: $sixthFontSize;
}

h2{
    font-size: $fifthFontSize;
}

#logo{
    width: 3rem;
    height: auto;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    line-height: 2.5rem;

    &_p{
        color: $secondaryColor;
        font-size: $tertiaryFontSize;
    }

    & h1{
        display: flex;
        flex-direction: column;
        margin-bottom: 0.3rem;
    }
    & button{
        align-self: flex-start;
    }
}

.aboutme{
    display: flex;
    justify-content: center;
    align-items: center;

    &_portait{
        display: flex;
        position: relative;
    }

    &_img{
        max-width: 574px;
        height: 685px;
        position: relative;
    }

    &_frame{
        margin: 0.1rem;
        max-width: 15rem;
        height: 15rem;
        border: 0.7rem solid $fourthColor;
        border-radius: 10px;
        position: absolute;
        z-index: 0;
    }

    &_description{
        margin-left: 8rem;

        &_intro{

            & p{
                display: flex;
                flex-direction: column;
                color: $secondaryColor;

                & span{
                    padding-top: 1rem;
                }

            }
        }
    }
}