body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: $secondaryColor;
    font-family: "Roboto Mono", sans-serif;
    font-size: $secondaryFontSize;
    line-height: 1;
}

main p{
    color: white;
}
