button{
    color: $primaryColor;
    font-size: $primaryFontSize;
    font-family: "quantico", sans-serif;
    width: auto ;
    height: 100%;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem ;
}

.btnOne{
    background: linear-gradient(to right, #740CDC, #56ADD5 );
    border: none;
    border-radius: 20px;
}

