button{
    color: $primaryColor;
    font-size: $primaryFontSize;
    font-family: "quantico", sans-serif;
    width: auto ;
    height: 100%;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem ;
    cursor: pointer;
}

.btnOne{
    background: linear-gradient(to right, #740CDC, #56ADD5);
    border: none;
    border-radius: 15px;
}

.btnTwo{
    border: none;
    background: linear-gradient(to right, #56ADD5, #740CDC);
    border-radius: 15px;
}

.btnThree{
    background: none;
    font-size: $secondaryFontSize;
    border: none;
    color: $secondaryColor;
}