button{
    color: $primaryColor;
    font-size: $primaryFontSize;
    font-family: "quantico", sans-serif;
    width: auto ;
    height: 100%;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem ;
    cursor: pointer;
}

.btnOne{
    background: linear-gradient(to right, #740CDC, #56ADD5);
    border: none;
    border-radius: 15px;    
}

.btnTwo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    background: linear-gradient(to top, #740CDC, #56ADD5);
    outline: none;
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 1rem;
    max-width: 60px;
    max-height: 60px;
}

.btnThree{
    background: none;
    font-size: $secondaryFontSize;
    border: none;
    color: $secondaryColor;
}

.btnRotateBottom{
    transform: rotate(-5deg);
    transition: transform 0.3s ease-in-out;
    transform-origin: center;

    &:hover{
        transform: rotate(10deg);
        background: $primaryColor;
    }
}

.btnRotateTop{
    transform: rotate(5deg);
    transition: transform 0.3s ease-in-out;
    transform-origin: center;

    &:hover{
        transform: rotate(10deg);
        background: $primaryColor;
    }
}

.btnScale{
    animation: scale 1s linear infinite;

    &:hover{
        color: $fifthColor;
        font-weight: bold;
        border: 3px solid $fifthColor;
        background-color: $primaryColor;
    }
}