nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    padding: 1rem 2rem 0rem 2rem;

    & .menu{
        display: flex;
        margin: auto;
        list-style: none;

        & a{
            display: flex;
            flex-direction: column;
            margin-left: 3rem;
            font-weight: bold;
            text-decoration: none;
            color: $primaryColor;

            & span{
                font-size: 0.8rem;
                text-align: right;
            }
        }
    }
}

.menu_toggle{
    display: none;
    flex-direction: column;
    align-items: flex-end;

    & .barOne{
        margin: 0.1rem;
        width: 3rem;
        height: 0.4rem;
        background-color: $primaryColor;
        border-radius: 10px;
    }
    
    & .barTwo{
        margin: 0.1rem;
        width: 2.6rem;
        height: 0.4rem;
        background-color: $primaryColor;
        border-radius: 10px;
    }
    
    & .barThree{
        margin: 0.1rem;
        width: 2.2rem;
        height: 0.4rem;
        background-color: $primaryColor;
        border-radius: 10px;
    }

    &:hover .barOne{
        transform: translateY(-0.3rem);
    }

    &:hover .barThree{
        transform: translateY(0.3rem);
    }

    & .barOne, .barThree{
        transition: transform 0.3s ease;
    }
}

.effectOnOver{
    opacity: 0.5;
    transition: opacity 0.5s ease, transform 0.5s ease;
}


@media screen and (max-width: 1300px){
    .menu_toggle{
        display: flex;
    }

    nav .menu{
        display: none;
    }
}

.nav_mobile{
    width: 100%;
    height: 100%;
    background: $fifthColor;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    z-index: 1;

    &_animation{
        font-size: 90px;
        color: $primaryColor;
        font-weight: bold;
        width: 100%;
        animation: scroll 7s linear infinite;
        white-space: nowrap;
        margin: 0rem -5rem 0rem -5rem;
        
        & span{
            color: $fifthColor;
            text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
            letter-spacing: 10px;
        }
    }

    & p{
        font-size: $sixthFontSize;
        color: $primaryColor;
        font-weight: bold;
        margin: 2rem;
        padding: 0rem 1rem 0rem 1rem;


        &:hover{
            background: $primaryColor;
            color: $fifthColor;

        }
    }
}