nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    padding: 1.5rem;
    background-color: $primaryColor;

    & .menu{
        display: flex;
        margin: auto;
        list-style: none;

        & a{
            display: flex;
            flex-direction: column;
            margin-left: 3rem;
            font-weight: bold;
            text-decoration: none;
            color: $secondaryColor;

            & span{
                font-size: 0.8rem;
                text-align: right;
            }
        }
    }
}

.menu_toggle{
    display: none;
    flex-direction: column;
    align-items: flex-end;

    & .barOne{
        margin: 0.1rem;
        width: 3rem;
        height: 0.4rem;
        background-color: #1e2128;
        border-radius: 10px;
    }
    
    & .barTwo{
        margin: 0.1rem;
        width: 2.6rem;
        height: 0.4rem;
        background-color: #1e2128;
        border-radius: 10px;
    }
    
    & .barThree{
        margin: 0.1rem;
        width: 2.2rem;
        height: 0.4rem;
        background-color: #1e2128;
        border-radius: 10px;
    }

    &:hover .barOne{
        transform: translateY(-0.3rem);
    }

    &:hover .barThree{
        transform: translateY(0.3rem);
    }

    & .barOne, .barThree{
        transition: transform 0.3s ease;
    }
}


@media screen and (max-width: 767px){
    .menu_toggle{
        display: flex;
    }

    nav .menu{
        display: none;
    }
}