$primaryColor: white;
$secondaryColor: #7D8296;
$tertiaryColor: #49B4DB;
$fourthColor: #4F109C;
$fifthColor: #101630;

$primaryFontSize: 1rem;
$secondaryFontSize: 1.25rem;
$tertiaryFontSize: 1.5rem;
$fourthFontSize: 1.75rem;
$fifthFontSize: 2rem;
$sixthFontSize: 2.5rem;