$primaryColor: white;
$secondaryColor: #7D8296;
$tertiaryColor: #589CD5;
$fourthColor: #4E119C;
$fifthColor: #0F162A;
$sixthColor: #2C3599; 
$seventhColor: #4A3CC5;
$eightColor: #B4B7C9;
$ninethColor: #A5A6FF;

$primaryFontSize: 1rem;
$secondaryFontSize: 1.25rem;
$tertiaryFontSize: 1.5rem;
$fourthFontSize: 1.75rem;
$fifthFontSize: 2rem;
$sixthFontSize: 2.5rem;

.overflow-hidden{
    overflow: hidden;
}

.visible{
    display: flex;
}

.toggle-element{
    display: none;
}

@keyframes scroll {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes scale {
    0% {
        transform: scale(100%);
    }
    50% {
        transform: scale(140%);
    }
    100% {
        transform: scale(100%);
    }
}

@keyframes displayBottom{
    0%{
        transform: translateY(-50%);
        opacity: 0%;
    }
    35%{
        opacity: 0%;
    }
    100%{
        transform: translateY(0%);
        opacity: 100%;
    }
}

@keyframes displayTop{
    0%{
        transform: translateY(0%);
        opacity: 0%;

    }
    35%{
        opacity: 0%;
    }
    100%{
        transform: translateY(-50%);
        opacity: 100%;
    }
}

.displayBottom{
    animation: displayBottom 0.4s ease-in-out;
}

.displayTop{
    animation: displayBottom 1s ease-in-out;
}

.marginBottom{
    margin-bottom: 1rem;
}

@keyframes bounce {
    0%{
       transform: rotate(0deg);
       scale: 1; 
    }
    50%{
        transform: rotate(5deg);
        scale: 1.1;
    }
    100%{
        transform: rotate(0deg);
        scale: 1;
    }
}
